@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00856F;
    z-index: 50;
}
.active1{
    display: none;
}
.text-active{
    color: white;
    border: white;
}
.active-border1{
    border-bottom: 2px solid #00856F !important;
}
.active-border{
    border-bottom: 2px solid white;
}